.preview{
min-height: 90vh;
/* border: 1px solid black; */
position: relative;
/* margin-top: 20px; */
}
#first{
    background-color:  #6e31b0;
    background-image: linear-gradient(#cea8f8, #6e31b0);
}
#second{
    background-color: #282c34;
    background-image: linear-gradient(#50545d, #282c34);
}
#third{
    background-color: rgb(142, 192, 192);
    background-image: linear-gradient(rgb(7, 86, 86), rgb(142, 192, 192));
}
.preview .card1{
height: 20rem;
width: 35rem;
float: left;
position: relative;
top: 8rem;
left: 9rem;
z-index: 1;
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;
background-color: #c0c098;
color: black;
}
.preview .card2{
    border-radius: 10px;
    height: 22rem;
    width: 35rem;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 2rem;
    left: 27rem;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #afacad;
}

.preview .btn-primary{
    background-color: #6B00DD;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}
.preview .btn-primary:hover{
    background-color: #7a29d2;
}
