.search-component{
  width: 100%;
}
.search-component h1{
    font-size: 50px;
    margin-top: 80px;
}
.search-component h4{
   margin-bottom: 50px;
}
.search-component .search-main{
width: 30rem;
justify-content: center;
display: flex;
margin: 0 auto 6rem;
}
.search-component .search-main input{
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    /* width: 80%; */
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}
.search-component .search-main button {
    border-radius: 25px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #6B00DD;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-component .search-main button:hover{
    background: #7a29d2;
}

.search-component .lower-sec .ocean { 
    height: 5%;
    /* width:100%; */
    position: fixed;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .search-component .lower-sec .ocean .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    bottom: 0;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
  #chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 100px;
    /* width: 97.86%; */
  }
  #chevron:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 51%;
    background: #cea8f8;
    transform: skew(0deg, 6deg);
  }
  #chevron:after {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    height: 100%;
    width: 50%;
    background: #cea8f8;
    transform: skew(0deg, -6deg);
  }

  @media (max-width: 480px) {
    .search-component .search-main{
      width: 70vw;
      }
      .search-component h1 {
        font-size: 40px;
    }
      .search-component h4{
        margin-top: 1rem;
     }
     .search-component .search-main {
      margin: 0 auto 1rem;
  }
  
     
  }
  